[[def: complementary-integrity-verification, complementary integrity verification]]

~ A mechanism that can verify integrity independent of needing access to a previous instance or reference version of the information for comparison.  
~ Source: Neil Thomson

~ More in <a href="https://weboftrust.github.io/WOT-terms/docs/glossary/complementary-integrity-verification">extended KERI glossary</a>
