[[def: complementary-integrity-verification, complementary integrity verification]]

~ A mechanism that can verify integrity independent of needing access to a previous instance or reference version of the information for comparison.  
~ Source: Neil Thomson
